.editor {
  margin-top: 1rem;
}

.image-container {
  position: relative;
  width: fit-content;
  display: inline-block;
}

.image-container img {
  display: block;
  width: 100%;
}

.laser {
  position: absolute;
  cursor: grab;
}

.eye-glow {
  position: absolute;
  width: 30px;
  height: 30px;
  background-image: url("https://cdn.glitch.me/a3cb1903-3df2-470f-9076-c2370808ed39%2Fthumbnails%2Fglowing-red-eyes-png-4%20(1).png");
  background-size: cover;
  background-repeat: no-repeat;
  cursor: grab;
  z-index: 2;
}

