.editor {
  margin-top: 1rem;
  display: flex;
  justify-content: center;
}

.image-container {
  position: relative;
  width: fit-content;
  display: inline-block;
}

.image-container img {
  display: block;
  width: 100%;
  max-width: 80vw;
}

.laser {
  position: absolute;
  cursor: grab;
  width: 40px;
  height: 40px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.laser.selected {
  outline: 2px dashed #0f0;
}
.laser-options img {
  width: 40px;
  margin-right: 0.5rem;
  cursor: pointer;
}
.laser-options img.selected {
  outline: 2px solid #0f0;
}
.controls {
  margin-top: 1rem;
}

